
form {
    max-width: 300px;
    margin: 40px auto;
    padding: 10px 20px;
    /* background: #f4f7f8; */
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 25px 0;
    text-align: center;
  }
  
  #name {
    margin-bottom: 20px;
  }
  
  #type {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  
  select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
  }
  
  
  .submit {
    padding: 6px;
    color: #FFF;
    background-color: #007bff;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border: 0px;
    border-radius: 5px;
    width: 25%;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 500px;
      background: #dde7a5;
    }
  }